# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Source/Test folder
src/
test/
.vscode/

# Config Files
.eslintrc.json
.prettierrc.json
jest.config.json
test-report.xml 
tsconfig.json